.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.login .login-container h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
}
.login .login-container p {
  color: gray;
  font-size: 0.99rem;
}
.login .login-container input {
  margin: 10px 0;
  height: 40px;
  border-radius: 5px;
}
@media (max-width: 420px) {
  .login {
   padding: 10px;
  }
  .login .login-container h1 {
    margin-bottom: 0;
    font-size: 2rem;
  }
}